Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# Do not ignore source, config and plugins dirs.
!/Source/**
!/Config/**
!/Plugins/**
